.description-content{
    background: #00e8ff52;
    width: 80%;
    padding-left: 50px !important;
    padding-top: 25px;

    code {
        font-weight: bold;
        font-size: 15px !important;
    }

}